body{
    color: greenyellow;
    text-align: center;
    background-color: #262e69;
    height: auto;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT","Trebuchet MS", sans-serif;
}

label{
    display: block;
    margin:auto;
    padding-bottom: .5rem;
  
}
input{
    margin:auto;
    height: auto;
    padding: 1em;
}
button{
    border-width: thick;
    margin-top: 1.5rem;
   
}